<html>
<head>
    <link rel="stylesheet" type="text/css" href="layoutIG.css">
</head>
<body>
    <div class="post">
        <div class="header">
            <div class="header-left">
                <div class="logo">
                    <img src="https://image.flaticon.com/icons/png/512/152/152843.png">
                </div>
                <div class="username">
                    <h1>HTML5 </h1>
                    <span class"fname">Rigoberto </span>
                </div>
            </div>
            <div class="header-right">
                <button class="options"> <img src="https://i.stack.imgur.com/qiyab.png"> </button>
            </div>
        </div>
        <div class="photo">
            <img src="https://i.imgur.com/d5PpN29.jpg">
        </div>
        <div class="button">
            <div class="left-button">
                <button class="heart"> <img src=https://i.imgur.com/Qi8Qta6.jpg> </button>
                <button class="comment"> <img src=https://i.imgur.com/crJlCF5.jpg> </button>
                <button class="plane">  <img src=https://i.imgur.com/wnGR8vr.png> </button>
            </div>
            <div class="right-button">
                <button class="bookmark"> <img src=https://i.imgur.com/Cl8b6lP.png> </button>
            </div>

        </div>
        <div class="content">
            <p> Liked by <b> 4GeeksAcademy, html5, Web </b> and <b> 100,001 others </b> </p>
            <p>Turpis in eu mi bibendum neque egestas. Integer quis auctor elit sed . Amet consectetur adipiscing elit pellentesque habitant morbi. <p>
        </div>
    </div>
</body>